body {
    background-color: white;
    color: #777;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.main {
    background-color: white;
}

.header {
    background-color: #efefef;
    border: 1px solid #efefef;
    border-bottom: 2px solid;
}

