body {
    margin: 0;
    background-color: #478fa1;
    color: #000;
    font-family: 'Titan One', cursive, sans-serif;
}
#title, 
#cyr, 
#game-container,
#score-label, 
#score-container,
#end-desc {
    text-align: center;
}

