body {
    background-color: white;
    color: #777;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.main {
    background-color: white;
}

.header {
    background-color: #efefef;
    border: 1px solid #efefef;
    border-bottom: 2px solid;
}

.header h1 {
    color: #139871;
}

h1 span.rock, 
h1 span.paper, 
h1 span.scissors {
    font-size: 48px;
    font-family: Times;
}

button.play {
    border-radius: 10px;
    border: 3px solid white;
}

button.play.rock {
    background: #efefef url('https://cdn.pixabay.com/photo/2014/12/22/00/03/rock-576668__480.png') no-repeat;
    background-size: 175px 175px;
}

button.play.paper {
    background: #efefef url('https://cdn.pixabay.com/photo/2012/04/13/13/18/paper-32377__480.png') no-repeat;
    background-size: 175px 175px;
}

button.play.scissors {
    background: #efefef url('https://cdn.pixabay.com/photo/2012/04/26/18/43/scissors-42801__480.png') no-repeat;
    background-size: 175px 175px;
}

button.play:hover {
    border: 3px solid #139871;
}

button#reset {
    color:#777;
    background-color: gainsboro;
    font-size: 12px;
    border-radius: 10px;
}

h2#results {
    font-size: 20px;
    color: #444;
}

.scorebox {
    border-radius: 10px;
    background-color: #efefef;
    border: 3px solid #efefef;
}

.scorebox h2 {
    color:#777;
    font-weight: 600;
    font-size: 24px;
}